.post {
}

.post-title {
  margin-top: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

.post-meta {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform:uppercase;
  color: #797979;
}
.post-meta a {color: #898989}

.no-padding-bottom {
  margin-top: 0;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.post-content h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, li {
  margin-bottom: 15px;
}

.post-content h2 {
  padding-top: 15px;
}

.post-content ul {
  list-style-position: inside;
  list-style-type: disc;
}

.post-content li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
