/****************************************************
        media css
*****************************************************/
@media (max-width: 1500px) {
    /* blog single full width with image slider */
    .blog-headline { padding: 200px 20px 0 70px; }
    .blog-single-full-width-with-image-slider-headline { width: 100%; font-size: 40px; line-height: 50px;}
    .blog-blockquote { padding: 60px; }
    .blog-text { padding: 60px 60px 0 60px; }
    .blog-comment-area { padding: 60px; }
}
@media (max-width: 1450px) {
    /*  blog home slider  */
    .blog-slider-con figcaption h3 { letter-spacing: 2px; }
    .blog-slider-con figcaption span { letter-spacing: 2px; }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .md-display-block { display: block !important}
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .md-no-margin-bottom { margin-bottom: 0 !important}
}
@media (min-width: 992px) and (max-width: 1199px) {
    /*  typography  */
    .md-bottom-10 { bottom: 10px !important;}
    .md-full-width { width: 100% !important;}
    .md-no-padding-bottom { padding-bottom: 0 !important}
    .md-display-block { display: block !important}
}
@media (max-width: 1199px) {
    /* navigation */
    .nav > li { margin-right: 17px; margin-left: 17px}

    /*  typograpy   */
    .lg-margin-bottom-five { margin-bottom: 5% !important; }
    .lg-margin-bottom-three { margin-bottom: 3% !important; }
    .lg-display-none { display: none; }
    .lg-display-block { display: block; }

    .md-bottom-10 { bottom: 10px !important;}
    .md-margin-bottom { margin-bottom: 2%;}

    /*  social media   */
    .social-icon-large .fa { height: 50px !important; width: 50px; }
}
@media (max-width: 1064px) {
    /*  parallax  */
    .parallax-fix{ background-attachment: scroll !important; }
}
/******* Only for iPad Css *******/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* for general iPad layouts */
    .navbar-nav > li > a { border-color: transparent !important; }
    .navbar-nav > li > a.active { border-color: black !important;  }
}
@media (max-width: 1024px) {
    /*  typography  */
    .md-display-none { display: none !important}
}
@media (max-width: 991px) {
    /*  navigation  */
    nav.navbar .container { position: relative; }

    /*  sticky navigation */
    .sticky-nav .nav > li { float: left; width: 100% !important; margin: 0 !important; border-top: 1px solid rgba(255, 255, 255, 0.06) !important; }
    .sticky-nav .nav > li:last-child { border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
    .sticky-nav ul li a:hover { color: #ffb200 !important; }
    .sticky-nav .navbar-nav > li > a { font-weight: 700; }
    .shrink-nav .nav > li { margin: 16px 15px; }
    .nav-white.shrink-nav .navbar-nav li a { color: #000; }
    .navbar .text-right { background-color: rgba(255,255,255, 0.95); clear: both; min-height: 0; padding: 0;  position: absolute; top: 76px; width: 100%; }
    .navbar.shrink-nav .text-right { top: 76px; }

    .navbar-nav > li > a { border-bottom: 0 !important;}
    .navbar-default .navbar-nav > li > a { color: #000; display: block; height: 38px; line-height: 38px; padding: 0 15px 0 0; text-align: center; }

    .navbar-collapse.in { overflow-x: hidden; }
    .navbar-default .col-sm-3 { float: left; }

    .navbar-toggle {border-radius: 0px;}
    .navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
    .navbar-default .navbar-toggle { background-color: #ffb200;}

    /* parallax */
    .parallax-fix { background-attachment: inherit !important}
    
    /*  custom  */
    section { padding: 90px 0; }

    /*  typography  */
    .sm-no-margin { margin: 0 auto !important; }
    .sm-no-margin-top { margin-top: 0 !important; }
    .sm-no-margin-bottom { margin-bottom: 0 !important; }
    .sm-margin-five { margin: 5% 0 !important; }
    .sm-margin-eight { margin: 8% 0 !important; }
    .sm-margin-bottom-one { margin-bottom: 1% !important }
    .sm-margin-bottom-two { margin-bottom: 2% !important }
    .sm-margin-bottom-three { margin-bottom: 3% !important }
    .sm-margin-bottom-four { margin-bottom: 4% !important }
    .sm-margin-bottom-five { margin-bottom: 5% !important }
    .sm-margin-bottom-six { margin-bottom: 6% !important }
    .sm-margin-bottom-seven { margin-bottom: 7% !important }
    .sm-margin-bottom-eight { margin-bottom: 8% !important }
    .sm-margin-bottom-nine { margin-bottom: 9% !important }
    .sm-margin-bottom-ten { margin-bottom: 10% !important }
    .sm-margin-bottom-eleven { margin-bottom: 11% !important }
    .sm-margin-bottom-twelve { margin-bottom: 12% !important }
    .sm-margin-top-one { margin-top: 1% !important }
    .sm-margin-top-two { margin-top: 2% !important }
    .sm-margin-top-three { margin-top: 3% !important }
    .sm-margin-top-four { margin-top: 4% !important }
    .sm-margin-top-five { margin-top: 5% !important }
    .sm-margin-top-six { margin-top: 6% !important }
    .sm-margin-top-seven { margin-top: 7% !important }
    .sm-margin-top-eight { margin-top: 8% !important }
    .sm-margin-top-nine { margin-top: 9% !important }
    .sm-margin-top-ten { margin-top: 10% !important }
    .sm-margin-top-eleven { margin-top: 11% !important }
    .sm-margin-top-twelve { margin-top: 12% !important }
    .sm-margin-right-one { margin-right:1% !important }
    .sm-margin-lr-four { margin-left: 4% !important; margin-right: 4% !important;}
    .sm-no-margin-right { margin-right: 0 !important;}
    .sm-no-margin-left { margin-left: 0 !important; }
    .sm-padding-bottom-six { padding-bottom: 6% !important; }
    .sm-no-padding { padding: 0 !important; }
    .sm-no-padding-left { padding-left: 0 !important; }
    .sm-padding-top-six { padding-top: 6% !important }
    .sm-padding-top-nine { padding-top: 9% !important; }
    .sm-padding-bottom-nine { padding-bottom: 9% !important; }
    .sm-display-none { display:none !important}
    .sm-text-center { text-align: center !important;}
    .sm-border { border: 1px solid rgba(0, 0, 0, 0.075) !important; }
    .sm-no-border-right { border-right: 0 !important; }

    /*  services   */
    #services { background-color: #ffffff !important; background-image: none !important; }

    /* presentation */
    .presentation h3 { height: auto;}
}
@media (max-width: 767px) {
    /*  custom  */
    section { padding: 50px 0; }

    /*  typography  */
    .text-large { font-size: 14px !important; }
    .title-large { font-size: 26px !important; }
    .title-extra-large { font-size: 26px !important; line-height: 33px !important; }
    h1, .h1 { font-size: 30px; line-height: 42px;}
    blockquote { padding: 10px 20px; font-size: 18px; font-weight: 100; line-height: 26px;}

    .xs-letter-spacing-6 { letter-spacing: 6px !important}
    .xs-no-margin { margin: 0 auto !important; }
    .xs-no-margin-top { margin-top: 0 !important; }
    .xs-margin-bottom-one { margin-bottom: 1% !important }
    .xs-margin-bottom-two { margin-bottom: 2% !important }
    .xs-margin-bottom-three { margin-bottom: 3% !important }
    .xs-margin-bottom-four { margin-bottom: 4% !important }
    .xs-margin-bottom-five { margin-bottom: 5% !important }
    .xs-margin-bottom-six { margin-bottom: 6% !important }
    .xs-margin-bottom-seven { margin-bottom: 7% !important }
    .xs-margin-bottom-eight { margin-bottom: 8% !important }
    .xs-margin-bottom-nine { margin-bottom: 9% !important }
    .xs-margin-bottom-ten { margin-bottom: 10% !important }
    .xs-margin-bottom-eleven { margin-bottom: 11% !important }
    .xs-margin-bottom-twelve { margin-bottom: 12% !important }
    .xs-margin-bottom-thirteen { margin-bottom: 13% !important }
    .xs-margin-bottom-thirtyfive { margin-bottom: 35% !important }
    .xs-margin-top-one { margin-top: 1% !important }
    .xs-margin-top-two { margin-top: 2% !important }
    .xs-margin-top-three { margin-top: 3% !important }
    .xs-margin-top-four { margin-top: 4% !important }
    .xs-margin-top-five { margin-top: 5% !important }
    .xs-margin-top-six { margin-top: 6% !important }
    .xs-margin-top-seven { margin-top: 7% !important }
    .xs-margin-top-eight { margin-top: 8% !important }
    .xs-margin-top-nine { margin-top: 9% !important }
    .xs-margin-top-ten { margin-top: 10% !important }
    .xs-margin-top-eleven { margin-top: 11% !important }
    .xs-margin-top-twelve { margin-top: 12% !important }
    .xs-margin-top-thirteen { margin-top: 13% !important }
    .xs-no-margin-right { margin-right: 0 !important }
    .xs-no-margin-left { margin-left: 0 !important; }
    .xs-no-margin-lr { margin-left: 0 !important; margin-right: 0 !important}
    .xs-no-margin-bottom { margin-bottom: 0 !important }
    .xs-padding-seven { padding: 6% 0}
    .xs-padding-eight { padding: 8%; }
    .xs-padding-bottom-six { padding-bottom: 6% !important; }
    .xs-padding-bottom-fifteen { padding-bottom: 15% !important; }
    .xs-padding-top-six { padding-top: 6% !important }
    .xs-padding-tb-ten { padding-bottom: 10% !important; padding-top: 10% !important; }
    .xs-padding-lr-two { padding: 0 2% !important; }
    .xs-no-padding { padding: 0 !important; }
    .xs-no-padding-left { padding-left: 0 !important; }
    .xs-no-padding-right { padding-right: 0 !important; }
    .xs-no-padding-lr { padding-left: 0 !important; padding-right: 0 !important; }
    .xs-no-padding-top { padding-top:0 !important}
    .xs-no-padding-bottom { padding-bottom: 0 !important; }
    .xs-no-padding-left-right { padding-left: 0 !important; padding-right: 0 !important}
    .xs-padding-right { padding-right: 15px !important;}
    .xs-padding-left { padding-left: 15px !important;}
    .xs-text-center { text-align: center !important;}
    .xs-text-left { text-align: left !important; }
    .xs-no-border { border: 0 !important; }
    .xs-no-background { background: none !important; }
    .xs-no-float { float: none !important; }
    .xs-display-none { display: none !important}
    .xs-display-block { display: block !important; }

    /*  background color  */
    .xs-bg-gray { background-color: #f6f6f6 !important;}

    /*  presentations   */
    .presentation { margin: 30px 0 40px 0;}
    .presentation h3 { height: auto;}

    /*  quotes   */
    .jumbotron { padding: 30px 0; }

    /*  social media   */
    .social-icon-large .fa { font-size: 20px; height: 40px !important; width: 40px; }
    .social-icon-large { margin-right: 10px; }
}
@media (max-width: 640px) {
    /*  custom  */
    .section-title {padding: 0 0 50px 0;}

    /*  blog  */
    #blog .section-title { padding-bottom: 50px; }
}
@media (max-width: 480px) {
    /*  navigation  */
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 394px; }

    /*  custom  */
    .section-title { font-size: 16px; line-height: 21px; }
    .scrollToTop { display: none !important; }
    .text-large { font-size: 13px; line-height: 22px;}
    .text-med { font-size: 13px; line-height: 22px; }

    /*  slider typography    */
    .slider-title-big3 { font-size: 18px; line-height: 22px; padding: 15px; margin-top: 10px; letter-spacing: 4px; }
    .slider-subtitle3 { font-size: 12px; line-height: 18px; letter-spacing: 3px; }
    
    /*  scroll down    */
    .scroll-down { bottom: 30px; }
}
@media (max-width: 466px) {
    /*     footer  */
    .copyright { font-size: 9px;}
}
@media (max-width: 359px) {
  /*     footer  */
    .copyright { font-size: 8px;}
}
/*  only mobile devices landscape view  */
@media screen and (max-width: 320px) , screen and (max-height: 480px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse { max-height: 235px !important; }
}
@media (max-width: 320px) {
    h1 { font-size: 26px; line-height: 32px; }
}
