@charset "utf-8";

/* ===================================
    Google font
====================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/* ===================================
    Reset
====================================== */

body{ font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; font-size:14px; color:#9a9a9a; line-height:23px; letter-spacing: 0.02em }
a{ color: #000; }
a:hover{ color: #ffb200; }
img { -webkit-backface-visibility: hidden; max-width:100%; height:auto; }
video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }
ul{ margin: 0px; padding:0px; }
input, textarea, select{ border: 1px solid #dfdfdf; letter-spacing: 1px; font-size: 11px;  padding: 8px 15px; width: 100%; margin: 0 0 20px 0; text-transform: uppercase; max-width: 100%; resize: none;}
input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none;  border-radius: 0; }
input:focus, textarea:focus{ border: 1px solid #989898; }
input[type="submit"]:focus { border:none !important}
select::-ms-expand{ display:none; }
iframe { border: 0;}
.sound iframe {width:100%}
ul { list-style: none outside none; }
ul, ol, dl {list-style-position: outside;}
* { transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
::selection { color: #000; background:#dcdcdc; }
::-moz-selection { color:#000; background:#dcdcdc; }
::-webkit-input-placeholder { color: #999; text-overflow: ellipsis; }
:-moz-placeholder { color: #999 !important; text-overflow: ellipsis; opacity:1; }
::-moz-placeholder { color: #999 !important; text-overflow: ellipsis; opacity:1; }
:-ms-input-placeholder { color: #999 !important; text-overflow: ellipsis; opacity:1; }
::-webkit-scrollbar { width:12px }
::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3); -moz-box-shadow:inset 0 0 6px rgba(0,0,0,.3); box-shadow:inset 0 0 6px rgba(0,0,0,.3); }
::-webkit-scrollbar-thumb { background:rgba(210,210,210,.8); -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 6px rgba(0,0,0,.5); box-shadow:inset 0 0 6px rgba(0,0,0,.5); }
::-webkit-scrollbar-thumb:window-inactive { background:rgba(210,210,210,.4) }
.animated { -moz-transition-duration: 0s !important;  }
hr { border-top-color: #ffb200;}

/* only ie7, ie9, ie10, ie11 */
@media screen\0 { input { /* ie7, ie9, ie10, ie11+ only */ padding-bottom: 19px; } }
/* Remove inner shadow from inputs on mobile iOS */

/* ===================================
    Typography
====================================== */

/* heading */
h1, h2, h3, h4, h5 { text-transform: uppercase; margin:0; padding:0; color: #000; }
h1 { font-size:32px; font-weight:700; line-height: 45px}
h2 { font-size:24px; font-weight:400; letter-spacing:inherit; line-height: 30px}
h3 { font-size:14px; letter-spacing:inherit; font-weight:700; }
h4 { letter-spacing: 2px; font-weight:600; font-size:14px; line-height: 26px; margin: 40px 0 15px 0;}
h5 { letter-spacing: 2px; font-weight:600; font-size:11px}
h6 { font-family: 'Open Sans', sans-serif; letter-spacing: 1px; font-size: 13px; font-weight: 400; line-height: 20px}

/* section title */
.section-title { text-transform: uppercase; font-weight: 700; font-size: 20px; letter-spacing: 2px; padding: 0 0 30px 0;}
.section-subtitle { text-transform: uppercase; font-weight: 700; font-size: 16px; letter-spacing: 2px; padding: 0 0 30px 0;}

/* different text size */
.text-small { font-size:11px !important; line-height:15px !important;}
.text-med{ font-size:14px !important; line-height:26px !important;}
.text-large { font-size: 15px !important; text-transform: uppercase; line-height: 24px !important; letter-spacing: 2px !important;}
.text-extra-large { font-size: 18px !important; line-height: 28px !important; font-weight: 100; }
.text-extra-large strong { letter-spacing: 3px}
.text-extra-large-normal { font-weight: normal !important;}
.title-small{ font-size:20px !important; line-height:30px !important;}
.title-med{ font-size:24px !important; line-height:34px !important;}
.title-large{ font-size:28px !important; line-height:41px !important;}
.title-extra-large{ font-size:35px !important; line-height:43px !important;}

/* text color */
.white-text{ color:#FFF !important}
.black-text{ color:#000 !important}
.yellow-text{ color:#ffb200 !important}
.light-gray-text{ color: #ababab}
.gray-text {  color:#7f7f7f !important}
.dark-gray-text { color:#373737 !important}

/* letter spacing */
.no-letter-spacing { letter-spacing: 0px !important}
.letter-spacing-1 { letter-spacing:1px !important}

/* font weight */
.font-weight-100 { font-weight:100 !important}
.font-weight-400 { font-weight:400 !important}
.font-weight-600 { font-weight:600 !important}
.font-weight-700 { font-weight:700 !important}
.font-weight-800 { font-weight:800 !important}

.center-col{ float:none !important; margin-left:auto !important; margin-right:auto !important}

/* margin */
.margin-one{ margin-top:1% !important; margin-bottom:1% !important}
.margin-two{ margin-top:2% !important; margin-bottom:2% !important}
.margin-three{ margin-top:3% !important; margin-bottom:3% !important}
.margin-four{ margin-top:4% !important; margin-bottom:4% !important}
.margin-five{ margin-top:5% !important; margin-bottom:5% !important}
.margin-six{ margin-top:5% !important; margin-bottom:0 !important }
.margin-seven{ margin-top:7.8% !important; margin-bottom:5% !important}
.margin-eight {margin-top:8% !important; margin-bottom:8% !important}
.margin-nine {margin-top:9% !important; margin-bottom:9% !important}
.margin-ten{ margin-top:10% !important; margin-bottom:10% !important}
.margin-eleven{ margin-top:22% !important; margin-bottom:22% !important}
.margin-right-four{margin-right:4% !important}
.margin-right-five{margin-right:5% !important}
.margin-right-six{margin-right:6% !important}
.margin-right-seven{margin-right:7% !important}
.margin-right-eight{margin-right:8% !important}
.margin-right-nine{margin-right:9% !important}
.margin-right-ten{margin-right:10% !important}
.margin-top-section { margin-top:96px;}
.margin-left-right-one { margin-right:6% !important; margin-left:6% !important}
.margin-two-bottom { margin-bottom: 2% !important; }
.margin-four-bottom { margin-bottom: 4% !important; }
.margin-five-bottom { margin-bottom: 5% !important; }
.margin-ten-bottom { margin-bottom: 10% !important; }
.no-margin{ margin:0 !important}
.no-margin-lr{ margin-left: 0 !important; margin-right: 0 !important}
.no-margin-top{ margin-top:0 !important}
.no-margin-bottom{ margin-bottom:0 !important}
.no-margin-left{ margin-left:0 !important}
.no-margin-right{ margin-right:0 !important}
.margin-bottom{ margin-bottom:60px}

/* padding */
.padding-one { padding-top:1% !important; padding-bottom:1% !important}
.padding-two { padding-top:2% !important; padding-bottom:2% !important}
.padding-three { padding-top:3% !important; padding-bottom:3% !important}
.padding-four { padding-top:4% !important; padding-bottom:4% !important}
.padding-five { padding-top:5% !important; padding-bottom:5% !important}
.padding-six { padding-top:3% !important; padding-left:3% !important; padding-right:3% !important;}
.padding-seven { padding:6%}
.padding-eight { padding-top:20%; padding-bottom: 20%}
.padding-nine { padding:6% 0}
.padding-left-right { padding-right:6% !important; padding-left:6% !important;}
.padding-section-bottom { padding-bottom: 5% !important; }
.padding-left-right-px { padding: 0 15px;}
.no-padding-left-right { padding-left:0 !important; padding-right:0 !important}
.no-padding-section { padding:0px !important;}
.no-padding-right { padding-right:0px !important;}
.no-padding-top { padding-top:0 !important}
.no-padding{padding:0 !important}
.no-padding-left { padding-left:0px !important;}
.no-padding-bottom { padding-bottom:0 !important}
.section-padding-inner{ padding: 140px 0}

/* position */
.position-relative{ position: relative !important; z-index: 5 }

/* ===================================
    Icon
====================================== */

i { color: #9a9a9a; margin: 0 3px}

/* social icon */
.social-icon .fa { font-size: 14px; text-align: center; display: table-cell; vertical-align: middle; width: 30px; height: 30px !important; line-height: 1; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #000; background-color: #fff;}
.social-icon:hover .fa { opacity:.8; }
.social-icon .fa-pinterest { background-color: #cb2027; }
.social-icon .fa-rss  { background-color: #f26522; }
.social-icon .fa-facebook  { background-color: #3b5998; }
.social-icon .fa-twitter  { background-color: #00aced; }
.social-icon .fa-stack-overflow { background-color: #fc9a24; }
.social-icon .fa-github  { background-color: #000000; }
.social-icon .fa-flickr  { background-color: #ff0084; }
.social-icon .fa-dribbble  { background-color: #ea4c89; }
.social-icon .fa-behance  { background-color: #42a9fb; }
.social-icon .fa-linkedin  { background-color: #007bb6; }
.social-icon .fa-vimeo-square  { background-color: #aad450; }
.social-icon .fa-youtube  { background-color: #bb0000; }
.social-icon .fa-tumblr  { background-color: #32506d; }
.social-icon .fa-github-alt  { background-color: #333333; }
.social-icon .fa-google-plus  { background-color: #dd4b39; }
.social-icon .fa-instagram  { background-color: #517fa4; }
.social-icon .fa-soundcloud  { background-color: #f80; }

.social-icon-large { margin-right:20px; }
.social-icon-large .fa { font-size:25px; text-align: center; display: table-cell; vertical-align: middle; width: 60px; height: 60px !important; line-height: 1; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; color: #000; background-color: #fff; border-radius:30px;}
.social-icon-large:hover .fa { color:#fff}
.social-icon-large:hover .fa-pinterest{ background-color: #cb2027; }
.social-icon-large:hover .fa-rss{ background-color: #f26522; }
.social-icon-large:hover .fa-facebook  { background-color: #3b5998; }
.social-icon-large:hover .fa-twitter { background-color: #00aced; }
.social-icon-large:hover .fa-stack-overflow { background-color: #fc9a24; }
.social-icon-large:hover .fa-github { background-color: #000000; }
.social-icon-large:hover .fa-flickr { background-color: #ff0084; }
.social-icon-large:hover .fa-dribbble { background-color: #ea4c89; }
.social-icon-large:hover .fa-behance  { background-color: #42a9fb; }
.social-icon-large:hover .fa-linkedin  { background-color: #007bb6; }
.social-icon-large:hover .fa-vimeo-square  { background-color: #aad450; }
.social-icon-large:hover .fa-youtube  { background-color: #bb0000; }
.social-icon-large:hover .fa-tumblr  { background-color: #32506d; }
.social-icon-large:hover .fa-github-alt  { background-color: #333333; }
.social-icon-large:hover .fa-google-plus  { background-color: #dd4b39; }
.social-icon-large:hover .fa-instagram  { background-color: #517fa4; }
.social-icon-large:hover .fa-soundcloud  { background-color: #f80; }


/* ===================================
    Background color
====================================== */

.bg-white { background: #fff !important;}
.bg-yellow { background: #ffb200 !important; }
.bg-dark-gray { background: #252525 !important; }
.bg-mid-gray { background: #d4d4d4 !important; }
.bg-gray { background-color: #f6f6f6 !important;}
.bg-light-yellow {background:#f8f7f5 !important}
.bg-light-blue { background:#67DDE0 !important;}
.bg-light-gray { background-color: #f8f7f7 !important; }

/* ===================================
    Navigation
====================================== */

nav { width: 100%; top: 0px; z-index: 99;}
nav .container{ display: table-cell; vertical-align: middle; height: 75px; position: relative; }

.shrink-nav .container { height: 75px; }
.shrink-nav { background-color:#FFF; }
.sticky-nav{ position: fixed; top: 0px; display: inline-table;}
.sticky-nav .logo-light { float:left; height: 55px; vertical-align: middle; display: table-cell;}
.shrink-nav .logo-light { opacity: 0; display: none}
.sticky-nav .logo-dark {opacity: 0; display: none}
.shrink-nav .logo-dark { float: left; height: 55px; vertical-align: middle; display: table-cell; opacity: 1}

.navbar-default .navbar-nav > li > a { color: #fff;}
.shrink-nav .navbar-nav li a { color: #000}

.nav-white.sticky-nav .navbar-nav li a:hover, .nav-white.sticky-nav .navbar-nav > .open > a  { border-bottom-color: #fff}
.nav-white.shrink-nav .navbar-nav li a:hover, .nav-white.shrink-nav .navbar-nav > .open > a { border-bottom-color: #000}
.nav-dark.shrink-nav .navbar-nav li a:hover, .nav-dark.shrink-nav .navbar-nav > .open > a { border-bottom-color: #fff !important}
.nav-dark-transparent.shrink-nav .navbar-nav li a:hover, .nav-dark-transparent.shrink-nav .navbar-nav > .open > a { border-bottom-color: #fff !important}

.sticky-nav.nav-border-bottom { border-bottom: 1px solid rgba(0,0,0,0)}
.shrink-nav.nav-border-bottom { border-bottom: 1px solid rgba(0,0,0,0.1)}

/* ===================================
    Scroll down
====================================== */

.scroll-down{ bottom: 50px; position: absolute; text-align: center; width: 100%; z-index: 10}
.scroll-down a i { background: #fff; border-radius: 2px; font-size: 17px; padding: 2px 6px; color: #000; }
.scroll-down a i:hover { background:#000; color: #fff  }

/* ===================================
    Scroll to top
====================================== */

.scrollToTop { display: none; font-weight: bold; height: auto; padding: 0; position: fixed; right: 45px; text-align: center; text-decoration: none; top: 91%; width: auto; background-color: #ffb200; z-index: 555; border-radius:2px; }
.scrollToTop i { font-size: 18px; margin: 0 6px; color: #fff; }
.scrollToTop:hover { opacity: 0.5; }
.scrollToTop:hover i { position: relative; }

/* ===================================
    Section
====================================== */

section { padding: 100px 0;}

/* social media section */
.clients-slider li { display: inline-block; margin: 0 4%; width: 15%; }

/* quotes section */
.bubbles { background: url("../images/bgd-bubbles.png") no-repeat left 50%;}
.blockquote-dark { padding: 35px; border: none; }
.blockquote-dark p { font-size: 18px; line-height: 25px; width: 95%; color: #000000; font-style: italic; margin:50px 0 40px; }

/* experience section */
.client { padding: 5px 10px; background-color: #fff; margin: 0 5px 10px 5px; display: inline-block;}

/*  presentations section */
/* TODO Rename presentation to talk or change the navigation and section title */
.presentation h3 {
  height: 25px;
}

.presentation p a {
  color: #9a9a9a;
}

.presentation p a:hover {
  color: #ffb200;
}
p.article-meta {
  margin-top: .5em;
}

/* ===================================
    Footer
====================================== */

.copyright { font-size: 11px; text-transform:uppercase; color: #888888 }
.footer-bottom { position: relative; top:1px}

/* ===================================
    Slider and parallax typography
====================================== */

.slider-typography { text-align: center; width: 100%; height: 100%; position: absolute; z-index: 1; right: 0; left: 0; }

.slider-text-middle-main { display: table; height: 100%; width: 100% }
.slider-text-middle { display: table-cell; vertical-align: middle; }
.slider-text-middle1 { padding: 0 15px;}

.slider-title-big3 {color: #ffffff; display: inline-block; font-size: 56px; line-height: 90px; font-weight: 600; padding: 0; letter-spacing: 3px;}
.slider-subtitle3 {color: #ffffff; font-size: 24px; font-weight: 600; text-transform: uppercase; letter-spacing: 4px; }

/* ===================================
    Parallax
====================================== */

.parallax-fix { position: relative; background-size: cover !important; overflow: hidden; background-position: left center; background-repeat: no-repeat !important; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; transition-timing-function: ease-in; -moz-transition-timing-function: ease-in; -webkit-transition-timing-function: ease-in; -o-transition-timing-function: ease-in; background-attachment: fixed !important }

/* ===================================
    Elements
====================================== */

/* buttons */
.btn {display: inline-block;  margin-right: 20px; letter-spacing: 2px; border:1px solid transparent }

.btn-big-yellow { font-size: 18px; letter-spacing: 3px; padding: 20px 25px; color: #fff; background-color: #ffb200;}
.btn-big-yellow:hover { background-color: #FFF; color: #ffb200}

/* ===================================
    Pages
====================================== */

/* about */
.timeline-number { font-size: 25px; padding: 15px; line-height:25px;}
.timeline-year {font-size: 20px; font-weight: 600; line-height:60px;}

/*  only ie9, ie10, ie11 */
@media screen\0 { .team-size span { /* ie7, ie9, ie10, ie11+ only */ display: block; margin-bottom: 38px; } }

/* contact */
.contact-map iframe { width:100%; height:420px;}
.view-map { position:absolute; bottom: 0; right: 0}
.scrolloff { pointer-events: none; }

/* sitemap */
.sitemap-title { font-size: 13px; font-weight: 600; text-transform: uppercase; border: 1px solid rgba(0,0,0,.1); padding: 5px 15px; background: #f7f7f7}
.sitemap li { border-bottom: 1px solid rgba(0,0,0,.1); padding: 10px 0; font-weight: 600; text-transform: uppercase; color: #000; font-size: 11px }
.sitemap li ul { padding: 10px 0}
.sitemap li ul li { border-bottom: 0; padding: 2px 0; font-weight: 400; font-size: 13px; text-transform: initial}
.sitemap li ul li:before {content: "-"; padding-right: 5px;}

/* 404 */
.not-found-title { font-size:60px; line-height:100px; display:block; font-weight: 700}
