.talk {
}

.row {
  margin-bottom: 30px;
}

/* same formatting as section-title */
.talk-title {
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 0;
}

.talk-content p, li {
  font-size: 16px;
  line-height: 28px;
}

.no-padding-bottom {
  margin-top: 0;
}

.talk-content ul {
  list-style-position: inside;
  list-style-type: disc;
}

.talk-content li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.conferences ul {
  list-style: none outside none;
}

.youtube-embed-wrapper iframe {
  border: 0px;
  background: padding-box rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
  width: 100%;
}

@media only screen and (min-width: 810px) {
  .youtube-embed-wrapper iframe { height: 580px; }
}

/* iPad */
@media (max-width: 810px) {
  .youtube-embed-wrapper iframe { height: 439px; }
}

/* iPhone 12/13 Pro Max */
@media (max-width: 428px) {
  .youtube-embed-wrapper iframe { height: 224px; }
}

/* iPhone 11 Pro Max */
@media (max-width: 414px) {
  .youtube-embed-wrapper iframe { height: 216px; }
}

/* iPhone 12/13 Pro */
@media (max-width: 390px) {
  .youtube-embed-wrapper iframe { height: 202px; }
}

/* iPhone SE 2nd generation, 11 Pro, 12/13 mini */
@media (max-width: 375px) {
  .youtube-embed-wrapper iframe { height: 194px; }
}
