---
---

<!doctype html>
<html lang="en">
    <head>
        <title>{{site.data.company.name}}:: {{site.data.myself.name}}</title>
        <meta name="description" content="{{site.data.myself.name}}: {{site.data.myself.title}}">

        {% include google_analytics.html %}
        {% include html_head.html %}

    </head>
    <body>

{% include navigation.html %}

{% include home.html %}

{% include about.html %}

{% include services.html %}

{% assign talks = site.posts | where:"category","talks" %}
{% if talks.size > 0 %}
{% include talks.html %}
{% endif %}

{% include experience.html %}

{% assign articles = site.posts | where:"category","articles" %}
{% if articles.size > 0 %}
{% include articles.html %}
{% endif %}

{% assign notes = site.posts | where:"category","notes" %}
{% if site.data.features.notes_enabled and notes.size > 0 %}
{% include notes.html %}
{% endif %}

{% include contact.html %}

{% include footer.html %}

<!-- scroll to top -->
<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- scroll to top End... -->

{% include html_scripts.html %}
  <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
  <script type="text/javascript" src="js/jquery.smooth-scroll.min.js"></script>
  <!-- one page navigation-->
  <script type="text/javascript" src="js/one-page-main.js"></script>
  <!-- settings -->
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
