<!-- About -->

<section id="about" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title">About me</h3>
                <img src="images/icon-about.png" class="padding-three">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-2 text-med">
                <p><em>Lean/XP Full-Stack Software Engineer</em> with a <em>DevOps<em> mindset. I do backend development and frontend development. I set up development infrastructures, define software and enterprise architectures, have lots of interest in operations and coach teams in adopting eXtreme Programming principles.</p>

                <p>Along the years I have been a bit everything: Software Engineer, (Architect), Technical Team Leader, Scrum Master, Product Owner and Agile Technical Coach.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-med padding-section-bottom">
                I like to help teams in creating meaningful software, with a keen eye for code quality and software delivery process - from customer interaction to continuous delivery. Instead of balancing quality & delivery, I believe and practice that better quality is actually a way to more and better deliveries. To me feature delivery and code quality goes hand in hand.
            </div>
        </div>
    </div>


    {% include socialmedia.html %}

    {% include quotes.html %}
</section>

<!-- End of About -->
