<!-- Blog intro -->

<section id="articles">  
  <div class="row">
      <div class="col-md-12 text-center">
          <h3 class="section-title">Articles</h3>
      </div>
  </div>

  <div class="container">
    {% assign articles = site.posts | where:"category", "articles" %}
    {% for article in articles limit: page.max_posts %}
    {% assign is_row = forloop.index | modulo: 3 %}
    {% if is_row == 1 %}
    <div class="row">
    {% endif %}

      <div class="col-md-4 article">
        <h3><a href="{{ article.url }}" class="post-title">{{article.title}}</a></h3>
        <p class="article-meta">{{ article.date | date: "%b %-d, %Y" }}{% if article.meta %} • {{ article.meta }}{% endif %}</p>
        <hr />
        <p>{{ article.excerpt }}</p>
      </div>

    {% if is_row == 0 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% assign articles_size = articles | size %}
    {% if articles_size > page.max_posts %}
    <div class="row">
      <div class="col-md-12 text-right">
        <p><a href="{% link articles.html %}">More ...</a></p>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- End of Blog intro -->
