<!-- Blog intro -->

<section id="articles">  
  <div class="row">
      <div class="col-md-12 text-center">
          <h3 class="section-title">Articles</h3>
      </div>
  </div>

  <div class="container">
    {% for post in site.posts %}
    {% assign is_row = forloop.index | modulo: 3 %}
    {% if is_row == 1 %}
    <div class="row">
    {% endif %}

      <div class="col-md-4 presentation">
        <h3><a href="{{ post.url }}" class="post-title">{{post.title}}</a></h3>
        <p class="article-meta">{{ post.date | date_to_long_string }}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
        <hr />
        <p>{{ post.excerpt }}</p>
      </div>

    {% if is_row == 0 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<!-- End of Blog intro -->
