<!-- Blog intro -->

<!-- <section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title">Latest from the Blog</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="blog-post">
                    <div class="post-details">
                        <a href="blog-single-full-width.html" class="post-title">Cool title here</a>
                        <span class="post-meta">10 October 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="blog-post">
                    <div class="post-details">
                        <a href="blog-single-full-width.html" class="post-title">Look, a nice title!</a>
                        <span class="post-meta">02 October 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="blog-post">
                    <div class="post-details">
                        <a href="blog-single-full-width.html" class="post-title">Another great article here</a>
                        <span class="post-meta">02 September 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-small-yellow btn-small margin-six inner-link">View All Blog</a>
            </div>
        </div>
    </div>
</section> -->

<!-- End of Blog intro -->
