<!-- Contact -->

<section id="contact" class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title">Contact me</h3>
                <img src="images/icon-contact.png" class="padding-three">
                <br />
                <span class="black-text text-extra-large font-weight-600">{{page.myname}}</span>
                <p>{{page.jobtitle}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 xs-text-center">
                <h4>Contact details</h4>
                <p>
                    <a href="mailto:thierry@thinkinglabs.io">thierry@thinkinglabs.io</a>
                    <br />
                    +32 499 133 454
                </p>
            </div>
            <div class="col-md-3 col-sm-3 xs-text-center">
                <h4>Business details</h4>
                <p>
                    <span class="">{{page.company}}</span>
                    <br />
                    <a href="mailto:hello@thinkinglabs.io">hello@thinkinglabs.io</a>
                </p>

                <p>
                    Gent, Belgium<br />
                    VAT BE 0889.731.807
                </p>

                </p>
            </div>
        </div>

    </div>
</section>

<!-- End of Contact -->
