<!-- Footer -->

<div class="container-fluid bg-dark-gray footer-bottom">
    <div class="container">
        <div class="row margin-three">
            <!-- copyright -->
            <div class="col-md-6 col-sm-6 col-xs-12 text-left xs-text-center xs-margin-bottom-one">
              It doesn't matter what you improve, as long as you're improving something.<br />
                Make experiments.<br />
                Fail Fast.
            </div>
            <!-- end copyright -->
            <!-- logo -->
            <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center
            copyright  letter-spacing-1 xs-text-center">
                &copy; 2017 Thinking Labs
            </div>
            <!-- end logo -->
        </div>
    </div>
</div>

<!-- end footer -->
