<!-- Footer -->
<footer class="container-fluid bg-dark-gray footer-bottom">
    <div class="container">
        <div class="row margin-three">
            <!-- quotes -->
            <div class="col-md-6 col-sm-6 col-xs-12 text-left xs-text-center xs-margin-bottom-one">
              It doesn't matter what you improve, as long as you're improving something.<br />
              Run experiments!
            </div>
            <!-- end quotes -->
            <!-- copyright -->
            <div class="col-md-6 col-sm-6 col-xs-12 text-right xs-text-center copyright letter-spacing-1">
                &copy; {{ site.time | date: '%Y' }} {{site.data.company.name}}
            </div>
            <!-- end copyright -->
        </div>
    </div>
  </footer>

<!-- End of Footer -->
