<!-- Home -->
<section class="parallax1 parallax-fix full-screen no-padding" id="home">
    <img class="parallax-background-img" src="/images/banner.jpg" alt="" />
    <div class="container full-screen position-relative">
        <div class="slider-typography">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle slider-text-middle1">
                    <img src="/images/testtube.png" alt="" /><br /><br />
                    <span class="slider-title-big3"><span class="yellow-text">Hello,</span> I'm {{site.data.myself.name}}</span><br>
                    <span class="slider-subtitle3">{{site.data.myself.title}}</span><br>

                    <a href="#contact" class="btn-big-yellow btn margin-six inner-link">Hire me!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down"><a href="#about" class="inner-link"><i class="fa fa-angle-down"></i></a></div>
</section>

<!-- End of banner -->
