
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
<!-- rss feed -->
<link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="/feed.xml">
<!-- favicon -->
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

<!-- bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.css" />
<!-- font-awesome icon -->
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<!-- common -->
<link rel="stylesheet" href="/css/style.css" />
<!-- responsive -->
<link rel="stylesheet" href="/css/responsive.css" />
<!--[if IE]>
    <link rel="stylesheet" href="css/style-ie.css" />
<![endif]-->
<!--[if IE]>
    <script src="js/html5shiv.js"></script>
<![endif]-->
