<!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-white nav-border-bottom no-transition" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a class="logo-light" href="/index.html">
                    <img alt="" src="/images/logo-white.png" class="logo" />
                </a>

                <a class="logo-dark" href="/index.html">
                    <img alt="" src="/images/logo-light.png" class="logo" />
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="col-md-9 text-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#home" class="inner-link">Home</a></li>
                        <li><a href="/#about" class="inner-link">About</a></li>
                        <li><a href="/#services" class="inner-link">Services</a></li>
                        <li><a href="/#talks" class="inner-link">Talks</a></li>
                        <li><a href="/#experience" class="inner-link">Experience</a></li>
                        <!-- <li><a href="#blog" class="inner-link">Blog</a></li> -->
                        <li><a href="/#contact" class="inner-link">Contact</a></li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</nav>

<!--end of navigation-->
