<!-- Notes -->

<section id="notes">
  <div class="row">
      <div class="col-md-12 text-center">
          <h3 class="section-title">Notes</h3>
      </div>
  </div>

  <div class="container">
    {% assign notes = site.posts | where:"category","notes" | sort: "created_at" | reverse%}
    {% for note in notes limit: page.max_posts %}
    {% assign is_row = forloop.index | modulo: 3 %}
    {% if is_row == 1 %}
    <div class="row">
    {% endif %}

      <div class="col-md-4 article">
        <h3>
          <a href="{{ note.url }}" class="post-title">
            {{ note.title }} by {{ note.author.name }}
          </a>
        </h3>
        <p class="article-meta">
          {{ note.created_at | date: "%b %-d, %Y" }}
          {% if note.event.name %} • {{ note.event.name }} {%if note.event.date %}{{ note.event.date | date: '%Y' }}{% endif %}{% endif %}
          {% if note.meta %} • {{ note.meta }}{% endif %}
        </p>
        <hr />
        <p>{{ note.excerpt | strip_html }}</p>
      </div>

    {% if is_row == 0 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}

    {% assign notes_size = notes | size %}
    {% if notes_size > page.max_posts %}
    <div class="row">
      <div class="col-md-12 text-right">
        <p><a href="{% link notes.html %}">More ...</a></p>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- End of Notes -->
