{% capture author %}
{% if page.author.name %}
{{page.author.name}}
{% elsif page.author %}
{{page.author}}
{% else %}
{{include.author}}
{% endif %}
{% endcapture %}

{% capture type %}
{% if page.collection == "posts" or page.collection == "talks" or page.collection == "notes" %}
article
{% else %}
website
{% endif %}
{% endcapture %}

<meta name="author" content="{{author | strip}}">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:site_name" content="{{site.data.company.name}}:: {{site.data.myself.name}}">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{ include.description }}">
<meta property="og:type" content="{{type | strip}}">
<meta property="og:image" content="{%if page.image %}{{site.url}}{{page.image}}{%else%}{{include.image}}{%endif%}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tdpauw">
<meta name="twitter:creator" content="@tdpauw">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{ include.description }}">
<meta name="twitter:image:src" content="{%if page.image %}{{site.url}}{{page.image}}{%else%}{{include.image}}{%endif%}">
