<!-- Quote -->

<section id="quotes" class="bg-yellow no-padding-section">
    <div class="container">
        <div class="col-md-8 text-center center-col blockquote-dark bubbles padding-section-bottom">
            <div class="carousel jumbotron" id="slider-content">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#slider-content" class="active"></li>
                    <li data-slide-to="1" data-target="#slider-content" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p>"How long would it take your organization to deploy a change that involves just one single line of code? Do you do this on a repeatable, reliable basis?"</p>
                        <span class="black-text text-extra-large font-weight-600 ">Mary Poppendieck, Implementing Lean Software Development</span>
                    </div>
                    <div class="item">
                        <p>"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.  Code for readability."</p>
                        <span class="black-text text-extra-large font-weight-600 ">Anonymous</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of Quote -->
