<!-- Services -->

<section id="services" class="padding-section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title">Services</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 text-med">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-software.png" class="padding-three">
                    <h4 class="section-subtitle">Software engineering</h4>
                </div>
                <p>My primary role is "<em>Software Engineer</em>". I code and I am passionate about it. This is my bread and butter. But I am not a Monkey Coder. I do the whole shebang from inception over coding, testing to releasing into production and monitoring the damned application.</p>

                <p>I pay a lot of attention to quality of code and maintainability.</p>

                <p>Without these skills, I cannot be a proper Agile Technical Coach and I cannot set up a Continuous Delivery pipeline. Everything I know, I learned through delivering working software in production.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-med">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-coaching.png" class="padding-three">
                    <h4 class="section-subtitle">Agile Technical Coaching</h4>
                </div>
                <p>Based on the 15+ years of experience delivering software projects I can help teams in adopting eXtreme Programming skills like Test Driven Development, Refactoring, Pair Programming, Test Automation, Simple Design, Collective Ownership, Continuous Integration.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-med">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-delivery.png" class="padding-three">
                    <h4 class="section-subtitle">Continuous Delivery</h4>
                </div>
                <p>I can advise your organisation in adopting and setting up a Continuous Delivery pipeline so every commit becomes a potential release candidate reducing the time needed to get a new feature or a bug fix in production.</p>

                <p>Continuous Delivery goes far beyond the technical solution. It implies Simple Design for your software and enterprise architecture and adopting Lean Principles. Here also I can advise your organisation.</p>
            </div>
        </div>
    </div>
</section>

<!-- End of Services -->
