<!-- Services -->

<section id="services" class="padding-section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title">Services</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-software.png" class="padding-three">
                    <h4 class="section-subtitle">Software engineering</h4>
                </div>
                <p>
                  My primary role is "<em>Software Engineer</em>". I have 20
                  years of experience. I still code and I am passionate about
                  this. This is my bread and butter. But I am not a Monkey
                  Coder. I do the whole shebang. From inception over coding,
                  testing, setting up the infrastructure, to releasing into
                  production and monitoring the damned application.
                </p>

                <p>
                  I pay a lot of attention to quality of code and
                  maintainability.
                </p>

                <p>
                  Without these skills, I cannot be a proper Agile Technical
                  Coach. I cannot help organisations achieve a state of
                  Continuous Delivery. Everything I know, I learned through
                  delivering working software in production.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-coaching.png" class="padding-three">
                    <h4 class="section-subtitle">Agile Technical Coaching</h4>
                </div>
                <p>
                  Based on the 20+ years of experience delivering software
                  applications I help teams in adopting the practices that 
                  make Continuous Integration and Continuous Delivery.
                </p>
                <p>
                  I coach in working in Small Increments, having a Decoupled
                  Codebase, Simple Design and Fast Builds and adopting Test
                  Driven Development, Refactoring, Expand-Contract,
                  Pair Programming, Test Automation, Collective Ownership and
                  Hiding Unfinished Functionality.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-12 text-center ">
                    <img src="/images/icon-delivery.png" class="padding-three">
                    <h4 class="section-subtitle">Continuous Delivery</h4>
                </div>
                <p>
                  I help organisations and teams achieve a state of Continuous
                  Delivery, i.e. being able to release product increments
                  sufficiently reliably and quickly to satisfy customer demand.
                </p>
                <p>
                  This means first and foremost adopting a series of both
                  technological and organisational changes that will help teams
                  deliver significantly faster at a sustainable pace, with
                  higher quality and lower costs. Which changes to adopt and in
                  which order is specific to the unique circumstances and
                  constraints of your organisation. There is simply no fixed
                  roadmap to the adoption of Continuous Delivery.
                </p>
                <p>
                  Continuous Delivery is not a tooling problem. The tooling part
                  is the easy part to solve. It is really about a change of
                  organisational mindset.
                </p>
                <p>
                  I'm available for <span class="black-text font-weight-600">
                  online Continuous Delivery coaching</span> at the rate of 
                  <span class="black-text font-weight-600">200 EUR per hour</span>
                  excl. VAT.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- End of Services -->
