<!-- Social media -->

<section id="social" class="bg-mid-gray padding-three">
    <div class="container">
        <div data-os-animation="bounceIn" class="row">
            <div class="col-md-6 col-md-offset-3 clients-slider text-center">
                <ul class="slides">
                    <li>
                        <a href="https://be.linkedin.com/in/tdpauw">
                            <span class="social-icon-large"><i class="fa fa-linkedin"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/thinkinglabs">
                            <span class="social-icon-large"><i class="fa fa-github"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/tdpauw">
                            <span class="social-icon-large"><i class="fa fa-twitter"></i></span>
                        </a>
                    </li>
                    <li>
                      <a rel="me" href="https://mastodon.social/@tdpauw">
                        <span class="social-icon-large"><i class="fa"><img src="/assets/mastodon-32.png"></i></span>
                      </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <span class="social-icon-large"><i class="fa fa-stack-overflow"></i></span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End of Social media -->
