<!-- Talks -->

<section id="talks" class="bg-light-yellow padding-section-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="section-title">Talks</h3>
            <img src="/images/icon-presentations.png" class="padding-three">
        </div>
    </div>
    <div class="container">

    {% assign talks = site.talks | group_by: "title" | sort: "date" | reverse %}
    {% for talk in talks %}
      {% assign is_row = forloop.index | modulo: 3 %}
      {% if is_row == 1 %}
    <div class="row font-weight-600">
      {% endif %}

        <div class="col-md-4 presentation">
            <h3>{{talk.name}}</a></h3>
            <hr />
            <p>
                {% for item in talk.items %}
                <a href="{{item.url}}">@ {{item.conference}}</a><br /> {% endfor %}
            </p>
        </div>
      {% if is_row == 0 or forloop.last %}
    </div>
      {% endif %}
    {% endfor %}
</section>
<!-- End of Talks -->
