<!-- Talks -->

<section id="talks" class="bg-light-yellow padding-section-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="section-title">Talks</h3>
            <img src="images/icon-presentations.png" class="padding-three">
        </div>
    </div>
    <div class="container">
        <div class="row font-weight-600">
            <div class="col-md-4 presentation">
                <h3>Continuous Delivery is more than just Tooling, It's a Mindset</a></h3>
                <hr />
                <p><a href="https://speakerdeck.com/tdpauw/continuous-lifecycle-london-2016-continuous-delivery-is-more-than-just-tooling-its-a-culture" target="_blank">@ Continuous Lifecycle London 2016</a><br />
                <a href="https://speakerdeck.com/tdpauw/itake-unconference-2016-continuous-delivery-is-more-than-just-tooling-its-a-culture" target="_blank">@ ITAKE Unconference 2016</a><br />
                <a href="https://speakerdeck.com/tdpauw/swift-be-it-techday-2016-continuous-delivery-is-more-than-just-tooling-its-a-mindset" target="_blank">@ SWIFT BE IT TechDay 2016</a><br />
                <a href="https://speakerdeck.com/tdpauw/atbru-2016-continuous-delivery-is-more-than-just-tooling-its-a-mindset" target="_blank">@ Agile Tour Brussels 2016</a>
              </p>
            </div>
            <div class="col-md-4 presentation">
                <h3>3M EUR later: Moving a team to become Agile in a Company with Too Much Money</h3>
                <hr />
                <p><a href="https://speakerdeck.com/tdpauw/xpdays-benelux-2015-3m-eur-later-moving-a-team-to-become-agile-in-a-company-with-too-much-money" target="_blank">@ XPDays Benelux 2015</a></p>
            </div>
            <div class="col-md-4 presentation">
                <h3>Facts and Fallacies of Continuous Delivery</h3>
                <hr />
                <p><a href="https://speakerdeck.com/tdpauw/atbru-2015-facts-and-fallacies-of-continuous-delivery" target="_blank">@ Agile Tour Brussels 2015</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://speakerdeck.com/tdpauw" class="btn btn-small-yellow btn-small margin-six inner-link">View all the talks</a>
            </div>
        </div>
    </div>
</section>

<!-- End of Talks -->
