<!-- Talks -->

<section id="talks" class="bg-light-yellow padding-section-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="section-title">Talks</h3>
            <img src="/images/icon-presentations.png" class="padding-three">
        </div>
    </div>

    <div class="container">

    {% assign talks = site.talks | sort: "date" | reverse %}
    {% for talk in talks %}
      {% assign is_row = forloop.index | modulo: 3 %}
      {% if is_row == 1 %}
    <div class="row">
      {% endif %}

        <div class="col-md-4 presentation">
            <h3><a href="{{talk.url}}">{{talk.title}}</a></h3>
            <hr />
            <p>{{talk.excerpt}}</p>
        </div>
      {% if is_row == 0 or forloop.last %}
    </div>
      {% endif %}
    {% endfor %}

    </div>
</section>
<!-- End of Talks -->
