---
---

<!doctype html>
<html lang="en">
  <head>
    <title>{{site.data.company.name}}:: {{site.data.myself.name}} - {{page.title}}</title>
    <meta name="description" content="{{site.data.myself.name}}: {{site.data.myself.title}} - {{page.title}}">

    {% include google_analytics.html %}
    {% include html_head.html %}

    <link rel="stylesheet" href="/css/article.css" />

    {% capture og_description %}
    {{ page.excerpt | strip_html }}
    {% endcapture %}
    {% capture og_image %}
    {{site.url}}/images/logo-light.png
    {% endcapture %}
    {% include open_graph_headers.html description=og_description author=site.data.company.name image=og_image %}
  </head>
  <body>

    {% include navigation.html shrink=true %}

    {% capture author %}
    {% if page.author.name %}
    {% if page.author.twitter %}<a href="https://twitter.com/{{ page.author.twitter }}">{% endif %}{{ page.author.name
      }}{% if page.author.twitter %}</a>{% endif %}
    {% elsif page.author %}
    {{ page.author }}
    {% endif %}
    {% endcapture %}


    <section id="article" class="article bg-white padding-section-bottom">
      <div class="row no-margin-lr">
        <div class="col-md-8 col-md-offset-2">

          <div class="row">
            <header class="col-md-7 article-header">
              <h2 class="article-title no-padding-bottom">{{page.title}}</h2>
              <p class="article-meta">
                {{ author }}
                {% if page.event.name %} at {{ page.event.name }} {{ page.event.date | date: '%Y'}}{% endif %}
                {% if page.slides %} <i class="fa fa-file-powerpoint-o"></i><a href="{{ page.slides }}">Slides</a>{% endif %}
                {% if page.video %} <i class="fa fa-video-camera"></i><a href="{{ page.video }}">Video</a>{% endif %}
                {% if page.paper %} <i class="fa fa-file-text"></i><a href="{{ page.paper }}">Paper</a>{% endif %}
                 • {{ page.content | number_of_words | divided_by: 225 }} min
              </p>
              <p class="article-meta">
                Notes taken on {{ page.created_at | date: "%b %-d, %Y" }}
              </p>
            </header>
            <aside class="col-md-5">
              {% include tags.html %}
            </aside>
          </div>

          <hr />

          <article class="article-content">
            {{ content }}
          </article>
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include html_scripts.html %}

  </body>
</html>
