---
---

<!doctype html>
<html lang="en">
    <head>
        <title>{{site.data.company.name}}:: {{site.data.myself.name}}</title>
        <meta name="description" content="{{site.data.myself.name}}: {{site.data.myself.title}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <!-- rss feed -->
        <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="/feed.xml">
        <!-- favicon -->
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <!-- common -->
        <link rel="stylesheet" href="/css/style.css" />
        <!-- responsive -->
        <link rel="stylesheet" href="/css/responsive.css" />
        <link rel="stylesheet" href="/css/talk.css" />
        <!--[if IE]>
            <link rel="stylesheet" href="css/style-ie.css" />
        <![endif]-->
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-72519713-2', 'auto');
          ga('send', 'pageview');

        </script>
        
        {% capture og_image %}
        https://speakerd.s3.amazonaws.com/presentations/{{ page.speakerdeck.data_id }}/slide_0.jpg
        {% endcapture %}
        {% include open_graph_headers.html description=content author=site.data.company.name image=og_image %}
    </head>
    <body>



{% include navigation.html %}
<em>
    <section id="talk" class="bg-light-yellow padding-section-bottom">
            <div class="row no-margin-lr">
                <div class="col-md-12 text-center">
                    <img src="/images/icon-presentations.png" class="padding-three no-padding-bottom"><br /><br />
                </div>
            </div>
            <div class="row no-margin-lr">
                <div class="col-md-4 col-md-offset-2">
                    <header>
                      <h2 class="talk-title no-padding-bottom"><br/>{{page.title}}</h2>
                      <hr />
                    </header>
                    <article class="talk-content">
                    {{content}}
                    <div class="conferences">
                    {% if page.conferences %}
                    <hr />
                    <ul>
                      {% for conference in page.conferences %}
                      <li>@ {{conference.name}} {% if conference.video_link  %} (<a href="{{conference.video_link}}">video</a>) {% endif %}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    </div>
                    </article>
                </div>
                <div class="col-md-4 padding-three">
                <script async class="speakerdeck-embed" data-id="{{page.speakerdeck.data_id}}" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                {% if page.youtube %}
                <div class="youtube-embed-wrapper">
                <iframe src="https://www.youtube-nocookie.com/embed/{{page.youtube.data_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                <p>
                  <a href="{{page.speakerdeck.download_link}}"><span><i class="fa fa-download" aria-hidden="true"></i>Download PDF</span></a>
                </p>
               </div>
            </div>
    </section>
</em>

{% include footer.html %}

<!-- TODO remove scroll to top -->
<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- scroll to top End... -->


<!-- javascript libraries -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <!-- TODO remove one page scrolling for talks -->
    <script type="text/javascript" src="/js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="/js/jquery.smooth-scroll.min.js"></script>
    <!-- one page navigation-->
    <script type="text/javascript" src="/js/one-page-main.js"></script>
    <!-- TODO shrink-nav should be static inside the navigation include 
         add a parameter to navigation to set shrink-nav
    -->
    <script type="text/javascript">
      $('nav').addClass('shrink-nav');
    </script>
</body>
</html>
